<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kerrigan</title>
</head>
<body>
	<div th:include="common"></div>
	<ul class="layui-nav">
		<li class="layui-nav-item layui-this"><a href="">Projects</a></li>
		<li class="layui-nav-item"><a href="">Scheduled</a></li>
		<li class="layui-nav-item"><a href="">Executing</a></li>
		<li class="layui-nav-item" style="float: right;"><a
			href="/auth/logout">Logout</a></li>
	</ul>
</body>
<script type="text/javascript" src="/static/js/kerrigan/index.js"></script>
</html>